doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title My DB API

  body
    block mainbody
      | Default body missing

    block footer
    //-   p Made with Nunjuck

    script.
      let ws = new WebSocket("ws://localhost:3000/reactivity");
      // Update express about variable changes
        function updateVariable(varName, value) {
            const data = {
                varName: varName,
                value: value
            };
            ws.send(JSON.stringify(data));
        }

        // display updates coming through websocket
        ws.onmessage = function(event) {
            console.log(event.data);
            let received = JSON.parse(event.data);
            document.querySelectorAll("*").forEach(el => {
                if (el.className.toString() === received.varName) {
                    el.innerHTML = received.value;
                }
            })
        }