extends layouts/mainPart1

include macros/reactiveVars

block mainbody
    each v in reactiveVariables
        +varSetter(v.varName, v.value)
        p The variable #{v.varName} is set to 
            span(id=`${v.varName}_display`) #{v.value}
        br
